SECRET_KEY=CHANGE_ME
OPENSEARCH_URL=http://opensearch:9200

SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=your_email@gmail.com
SMTP_PASSWORD=16_digit_your_google_app_password
ALERT_RECIPIENT=your_email@gmail.com
