[ ca ]
default_ca = CA_default

[ CA_default ]
dir               = ./pki/ca
new_certs_dir     = $dir/newcerts
database          = $dir/index.txt
serial            = $dir/serial
crlnumber         = $dir/crlnumber
crl               = $dir/rootCA.crl
private_key       = ./pki/certs/rootCA.key
certificate       = ./pki/certs/rootCA.crt
default_md        = sha256
default_crl_days  = 365
default_days      = 365
policy            = policy_any
x509_extensions   = usr_cert

[ policy_any ]
countryName             = optional
stateOrProvinceName     = optional
localityName            = optional
organizationName        = optional
organizationalUnitName  = optional
commonName              = supplied
emailAddress            = optional

[ usr_cert ]
basicConstraints = CA:FALSE
keyUsage = digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth, clientAuth

[ crl_ext ]
authorityKeyIdentifier=keyid:always
